In [3]:
import pandas as pd

In [7]:
list_1 = [['x','12us01','USA',97.2,6.4],['y','12us02','USA',97.4,6.5],
          ['z','12us03','USA',98.5,6.2],['p','12us04','USA',98.6,5.9],
          ['q','12us05','USA',97.8,5.8],['r','12us06','USA',97.6,5.11],
          ['s','12us07','USA',98.6,6.3],['t','12us08','USA',98.9,6.5],
          ['u','12us09','USA',99.2,6.7],['v','12us10','USA',99.2,6.6],
         ]

df1 = pd.DataFrame(list_1,columns = ['Name', 'SSN NO', 'Country', 'Bodytemp_usa','Height_usa'])

In [8]:
df1

  Name  SSN NO Country  Bodytemp_usa  Height_usa
0    x  12us01     USA          97.2        6.40
1    y  12us02     USA          97.4        6.50
2    z  12us03     USA          98.5        6.20
3    p  12us04     USA          98.6        5.90
4    q  12us05     USA          97.8        5.80
5    r  12us06     USA          97.6        5.11
6    s  12us07     USA          98.6        6.30
7    t  12us08     USA          98.9        6.50
8    u  12us09     USA          99.2        6.70
9    v  12us10     USA          99.2        6.60

In [17]:
list_2 = [['A','15ind01','IND',98.4,5.8],['B','15ind02','IND',98.4,5.7],
          ['C','15ind03','IND',97.8,5.5],['D','15ind04','IND',98.6,5.4],
          ['E','15ind05','IND',97.8,5.6],['F','15ind06','IND',98.6,6.2],
          ['G','15ind07','IND',98.6,6.1],['H','15ind08','IND',98.8,5.10],
          ['I','15ind10','IND',99.6,5.6],['J','15ind10','IND',98.8,5.4],
         ]

df2 = pd.DataFrame(list_2,columns = ['Name', 'SSN NO', 'Country', 'Bodytemp_india','Height_india'])

In [18]:
df2

  Name   SSN NO Country  Bodytemp_india  Height_india
0    A  15ind01     IND            98.4           5.8
1    B  15ind02     IND            98.4           5.7
2    C  15ind03     IND            97.8           5.5
3    D  15ind04     IND            98.6           5.4
4    E  15ind05     IND            97.8           5.6
5    F  15ind06     IND            98.6           6.2
6    G  15ind07     IND            98.6           6.1
7    H  15ind08     IND            98.8           5.1
8    I  15ind10     IND            99.6           5.6
9    J  15ind10     IND            98.8           5.4

In [19]:
df1['Bodytemp_usa'].var()

0.5511111111111116

In [20]:
df2['Bodytemp_india'].var()

0.26711111111110974

In [28]:
bodytemp = df1['Bodytemp_usa'] + df2['Bodytemp_india']
bodytemp.var()

1.227111111111105

In [25]:
df2['Height_india'].var()

0.10933333333333334

In [26]:
df1['Height_usa'].var()

0.2308988888888888

In [27]:
height = df2['Height_india'] + df1['Height_usa']
height.var()

0.18369888888888872